= form_for @cat do |f|
  - if @cat.errors.any?
    #error_explanation{class: "alert alert-warning"}
      %h2= "#{pluralize(@cat.errors.count, "error")} prohibited this cat from being saved:"
      %ul
        - @cat.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .field
      = f.label :name
      = f.text_field :name, class: 'form-control'
  .form-group
    .field
      = f.label :image
      = f.text_field :image, class: 'form-control'
  .form-group
    .actions
      = f.submit 'Save', class: 'btn btn-primary btn-lg btn-block'
