<!DOCTYPE html>
<html>
<head>
  <title>Catstars</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "nav" %>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <%= render 'flash_messages' if !flash.empty? %>
        <%#= content_tag :div, alert, class: "alert alert-danger" if alert %>
        <%#= content_tag :div, notice, class: "alert alert-success" if notice %>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
